html {
    overflow: hidden;
}

body {
    font-family: "Helvetica", "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    margin: 0px;
    color: #404040;
    overflow: hidden;
}

#container {
    width: 500px;
    height: 600px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
#imgsContainer {
    float: left;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 10px;
    background-color: #e8e8e8;
    box-sizing: border-box;
    flex-grow: 2;
    height: 100%;
    position: relative;
}
#imgContainer {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin-top: 10px;
}
.imgContainer{
    position: relative;
    margin-bottom: 10px;
}
.imgInfo{
    position: absolute;
    top: 10px;
    right: 10px;
}
.imgInfo.malicious{
    border: 1px solid red;
    border-radius: 3px;
    background-color: red;
    color: white;
    padding: 5px;
}
.imgInfo.benign{
    border: 1px solid green;
    border-radius: 3px;
    background-color: green;
    color: white;
    padding: 5px;
}
/*loading*/
.spinner {
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 70px;
    text-align: center;
    position:relative;
}

.spinner > div {
    width: 18px;
    height: 18px;
    margin-left:5px;
    background-color:#404040;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
    } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    }
}
/*loading end*/